$primary: #1f2023;
$secondary: #3972e0;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
}

.theme-light {
  --background: #f8f8f8;
  --text: #313131;
}

.theme-dark {
  --background: #313131;
  --text: #f8f8f8;
}
